.App {
  text-align: center;
}

.prefecture-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 3%;

  .header {
    display: inline-block;
    border: 1px solid black;
    padding: 3px;
  }

  .prefecture-list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .prefecture-item {
      width: 25%;
      text-align: left;
    }
  }
}
